/* CSS externo (absoluto)*/

/* Botão que fica no canto inferior direito e leva o usuário de volta ao topo */
#btn-topo {
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    color: white;
    padding: 10px 16px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
}

/* Faz a tela percorrer todo o body de maneira suave (smooth) */
html {
    scroll-behavior: smooth;
}

/* subtitulo principal da página, o restante fica com a estilização padrão dos h2 */
#primeiroSubTitulo{
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    color:#4e4e4e;
}

table{
    font-family: 'Exo 2', sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    width: 600px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-decoration: none;
}

td a:visited{
    text-decoration: none;
    color: black;
}

td a:hover{
    color: #3056A9;
    text-decoration: underline;
}

tr:nth-child(even){
    background-color: #dddddd;
}

h2{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}

h2 a, h2 a:visited{
    text-decoration: none;
    color: black;
}

h2 a:hover{
    color:#3056A9; 
    text-decoration: underline;
}

hr{
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: 60px;
    margin-bottom: 60px;
}

img{
    display: block;
    margin: 0 auto 60px auto;
    width: 50%;
    border-radius: 15px;
}

p{
    font-family: 'Exo 2', sans-serif;
}